<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title></title>
		<meta name="robots" content="all" />
		<meta name="keywords" content="">
		
		<!-- use this for making the mobile non-zoomable -->
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
		
		<!-- for fonts -->
		<link href="" rel='stylesheet' type='text/css'>
		
		<!-- JustaPage stylesheets -->
		<link rel="stylesheet" href="css/main.css" type="text/css" />
		<link media="only screen and (max-device-width: 480px) and (min-device-width: 320px)" href="css/mobile.css" type="text/css" rel="stylesheet" />
		
		<!-- JustaPage required javascript files -->
		<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="js/justapage.js"></script>
		
		<!-- Blank Google Analytics snippet -->
		
		<script type="text/javascript">
				  var _gaq = _gaq || [];
				  _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
				  _gaq.push(['_trackPageview']);

				  (function() {
				    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				  })();
				</script>
				
				
				<!-- If you want, include this to auto scroll to the top on an iPhone -->
				<script type="text/javascript">
					window.addEventListener('load', function() {
					    setTimeout(scrollTo, 0, 0, 1);
					}, false);
				</script>

	</head>

	<body>
		<div id="intro"> <!-- begin intro section -->
			
			<!-- this is the logo. JustaPage logo used as placeholder -->
			<a href="intro" class="nav"><img src="https://dl.dropbox.com/u/12501614/JustaPage/template/images/logo.png" id="logo" alt="JustaPage" /></a>
			
			
			<div id="introcopy">
				<h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
				<p>Aenean tempus volutpat convallis. In hac habitasse platea dictumst. Etiam blandit euismod consectetur. Donec sed nulla mauris. Praesent luctus placerat dui, a imperdiet metus bibendum non. Sed commodo molestie vulputate. Cras varius volutpat orci sit amet vehicula. Mauris in dui in purus dictum scelerisque. Aenean sapien leo, blandit nec viverra a, commodo a libero. Maecenas ac elit nec metus pulvinar gravida. Cras sem tortor, eleifend id gravida sed, blandit nec elit. Fusce a risus lacus. Cras vehicula ipsum in arcu dapibus facilisis. Pellentesque viverra pellentesque erat, non suscipit ante eleifend nec. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
				</p>
			</div> <!-- end introcopy -->
			
			<!-- this is the navigation div. Match the height to the height of the logo -->
			<div id="unfixed" class="">
				<ul id="nav">
					<li class="nav"><a href="one" class="nav" id="nav1">Section 1</a></li>
					<li class="nav"><a href="two" class="nav" id="nav2">Section 2</a></li>
					<li class="nav"><a href="three" class="nav" id="nav3">Section 3</a></li>
				</ul>
			</div> <!-- end navigation -->
			
		</div> <!-- end intro section -->
		
		<div class="section" id="one"> <!-- begin section one -->

			<!-- all of this is just to hold the area -->
			<h1>Section 1</h1>
			<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
			<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
			<p>Aenean tempus volutpat convallis. In hac habitasse platea dictumst. Etiam blandit euismod consectetur. Donec sed nulla mauris. Praesent luctus placerat dui, a imperdiet metus bibendum non. Sed commodo molestie vulputate. Cras varius volutpat orci sit amet vehicula. Mauris in dui in purus dictum scelerisque. Aenean sapien leo, blandit nec viverra a, commodo a libero. Maecenas ac elit nec metus pulvinar gravida. Cras sem tortor, eleifend id gravida sed, blandit nec elit. Fusce a risus lacus. Cras vehicula ipsum in arcu dapibus facilisis. Pellentesque viverra pellentesque erat, non suscipit ante eleifend nec. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
			<!-- all of this is just to hold the area -->



		</div> <!-- end .section#one -->
		
		
		<div class="section" id="two"> <!-- begin section two -->
			
				<!-- all of this is just to hold the area -->
				<h1>Section 2</h1>
				<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
				<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
				<p>Aenean tempus volutpat convallis. In hac habitasse platea dictumst. Etiam blandit euismod consectetur. Donec sed nulla mauris. Praesent luctus placerat dui, a imperdiet metus bibendum non. Sed commodo molestie vulputate. Cras varius volutpat orci sit amet vehicula. Mauris in dui in purus dictum scelerisque. Aenean sapien leo, blandit nec viverra a, commodo a libero. Maecenas ac elit nec metus pulvinar gravida. Cras sem tortor, eleifend id gravida sed, blandit nec elit. Fusce a risus lacus. Cras vehicula ipsum in arcu dapibus facilisis. Pellentesque viverra pellentesque erat, non suscipit ante eleifend nec. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
				<!-- all of this is just to hold the area -->
				
		</div><!-- end .section#two -->	
						
						
		<div class="section" id="three"> <!-- begin section three -->
			
			<!-- all of this is just to hold the area -->
			<h1>Section 3</h1>
			<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
			<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
			<p>Aenean tempus volutpat convallis. In hac habitasse platea dictumst. Etiam blandit euismod consectetur. Donec sed nulla mauris. Praesent luctus placerat dui, a imperdiet metus bibendum non. Sed commodo molestie vulputate. Cras varius volutpat orci sit amet vehicula. Mauris in dui in purus dictum scelerisque. Aenean sapien leo, blandit nec viverra a, commodo a libero. Maecenas ac elit nec metus pulvinar gravida. Cras sem tortor, eleifend id gravida sed, blandit nec elit. Fusce a risus lacus. Cras vehicula ipsum in arcu dapibus facilisis. Pellentesque viverra pellentesque erat, non suscipit ante eleifend nec. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
			<!-- all of this is just to hold the area -->
			
		</div>	<!-- end .section#three -->
		
		<div id="footer">
			<ul id="toes">
				<li class="toes"><a href="#">Link 1</a></li>
				<li class="toes"><a href="#">Link 2</a></li>
				<li class="toes"><a href="#">Link 3</a></li>										
			</ul>
		</div> <!-- end .footer -->
	</body>
</html>