/*	This file is part of JustaPage.

    JustaPage is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    JustaPage is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Foobar.  If not, see <http://www.gnu.org/licenses/>.*/

@import url(reset.css);

/*Global styles for fonts and backgrounds*/

body {
	background-color: #002;
}

h1 {
	font-family: 'Open Sans Condensed',sans-serif;
	font-size: 200%;
	color: #fff;
}

h2 {
	font-family: 'Open Sans Condensed',sans-serif;
	font-size: 175%;
	color: #fff;
}

p {
	font-family: 'Open Sans Condensed',sans-serif;
	font-size: 150%;
	color: #fff;
}

a {
	text-decoration: underline;
	color: #e74d15;
}

/*The blockquote and pre are for the code samples. Toss them if you don't need them.*/

blockquote {
	display: block;
	font-family: Georgia, Times New Roman, Times, serif;
	font-weight: bold;
	font-size: 140%;
	margin: 30px auto 30px auto;
	text-align: left;
	width: 70%;
	background: #0ff;
	border: solid 4px #ff0;
}

pre {
	display: block;
	width: 100%;
	text-align: left;
}


/*Just for the logo*/

img#logo {
	display: block;
	position: fixed;
	left: 0px;
	top: 0px;
	margin-left: 50px;
	z-index: 1000;
}

/*The intro section, which is above the navigation*/

#intro {
	background: url(../images/bg.png);
	display: block;
	position relative;
	height:520px;
}

#introcopy {
	display: block;
	float: right;
	width: 735px;
	height: auto;
	margin: 100px 40px 0 auto;
}

p.intro {
	margin-bottom: 20px;
}

/*This is for the navigation.*/

#unfixed {
	display: block;
	position: relative;
	width: 100%;
	height: 80px;
	/*margin-top: 35px;*/
	overflow: hidden;
	z-index: 99;
}

.fix {
	background: url(../images/bg.png);
	position: fixed !important;
	margin-top: -13px !important;
	top: 0px;
	-moz-box-shadow: 0 3px 4px #555;
	-webkit-box-shadow: 0 3px 4px #555;
	box-shadow: 0 3px 4px #ff0;
}

ul#nav {
	display: block;
	white-space: nowrap;
	float: left;
	margin: 45px 0 0 440px;
	width: auto;
}

li.nav {
	font-family: 'Lato', sans-serif;
	font-size: 200%;
	color: #e74d15;
	display: inline;
	list-style-type: none;
	width: 150px;
	margin-left: 5px;
}

li.active {
	background-color: rgba(265, 265, 0, .7);
}

/*These are global settings for the three sections of the site.*/

.section {
	width: 1000px;
	height: 350px;
	margin: 20px auto 20px auto;
	clear: both;
}

h1.section_title {
	font-family: 'Open Sans Condensed',sans-serif;
	font-size: 200%;
	color: #0f0;
	margin: 10px 0 10px 0;
}

/*These are the settings for the image gallery. */

#one {
	height: auto;
}

.gallery {
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.gallery_item {
	display: block;
	width: 300px;
	float: left;
	margin: 10px 0 45px 30px;
}

img.gallery {
	float: left;
	border-style:solid;
	border-width:2px;
	border-color: #ff0;
	width: 90%;
	margin: 0 auto 20px auto;
}

p.item_title {
	font-weight: bold;
	margin-bottom: 5px;
}

/*These are settings for the first section, called "about"*/

#two {
	height: auto;
}

#floater_wrapper {
	display: block;
	height: 300px;
}

#about {
	display: block;
	float: left;
	margin: 0 10px 0 0 ;
	width: 600px;
}

#aside_box {
	display: block;
	float: right;
	margin: 0 10px 0 10px ;
	width: 310px;
	background-color: #ff0;

}

h2.aside {
	color: #e74d15;
	border-style:solid;
	border-width:5px;
	border-color: #e74d15;
	padding: 1px 5px 1px 5px;
}

p.aside {
	color: #e74d15;
	border-style:solid;
	border-width:5px;
	border-color: #e74d15;
	padding: 1px 5px 1px 5px;
}

/*These are settings for the "warnings" section. AKA the thrid section.*/

#three {
	height: auto;
}

ul.warnings {
	display: block;
	margin: 15px 10px 0 15px;
	width: 90%;
}

li.warnings {
	margin-left: 10px;
	padding:5px 0 25px 35px;
	font-family: 'Open Sans Condensed',sans-serif;
	font-size: 150%;
	color: #fff;
	text-indent: -0.5em;
}

li.warnings:before {
	content: "!";
	color: #e74d15;
	font-size: 200%;
	font-weight: bold;
}

/*These are the settings for the footer*/

#footer {
	display: block;
	position: relative;
	width: 1000px;
	height: 50px;
	margin: 20px auto 0 auto;
}

ul#toes {
	display: block;
	white-space: nowrap;
	margin: 15px auto 0 auto;
	width: 400px;
}

li.toes {
	font-family: 'Open Sans Condensed',sans-serif;
	font-size: 150%;
	color: #e74d15;
	display: inline;
	list-style-type: none;
	width: 200px;
}